<footer>
  <div class="first-footer bg-[#2c3e50]">
    <div class="container mx-auto px-4 py-16 flex flex-wrap justify-around gap-8">
      <div class="location text-white text-center">
        <h3 class="text-xl md:text-2xl lg:text-3xl mb-2 uppercase font-semibold">location</h3>
        <p class="text-sm mb-1 text-center">2215 John Daniel Drive</p>
        <p class="text-sm mb-1 text-center">Clark, MO 65243</p>
      </div>
      <div class="links text-white text-center">
        <h3 class="text-xl md:text-2xl lg:text-3xl mb-2 uppercase font-semibold">AROUND THE WEB</h3>
        <ul class="flex flex-wrap justify-center items-center gap-2.5">
          <li class=""><a href="#" class="flex items-center justify-center h-[35px] w-[35px] border rounded-[50%] border-solid"><ng-icon name="bootstrapFacebook"></ng-icon></a></li>
          <li class=""><a href="#" class="flex items-center justify-center h-[35px] w-[35px] border rounded-[50%] border-solid"><ng-icon name="bootstrapTwitter"></ng-icon></a></li>
          <li class=""><a href="#" class="flex items-center justify-center h-[35px] w-[35px] border rounded-[50%] border-solid"><ng-icon name="bootstrapLinkedin"></ng-icon></a></li>
          <li class=""><a href="#" class="flex items-center justify-center h-[35px] w-[35px] border rounded-[50%] border-solid"><ng-icon name="bootstrapGlobe"></ng-icon></a></li>
        </ul>
      </div>
      <div class="about text-white text-center">
        <h3 class="text-xl md:text-2xl lg:text-3xl mb-2 uppercase font-semibold">ABOUT FREELANCER</h3>
        <p class="text-sm mb-1 text-center">Freelance is a free to use, licensed Bootstrap theme</p>
        <p class="text-sm mb-4 text-center">created by Route</p>
      </div>
    </div>
  </div>
  <div class="second--footer bg-[#1a252f] ">
    <div class="container mx-auto p-5 text-center text-white ">
      Copyright @ &copyright &copy; Your Website 2021
    </div>
  </div>
</footer>
