ng-icon
{
  position: relative;
  &::before,
  &::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 80px;
    background-color: currentColor;
    top: 50%;
    left: -1rem;
    transform: translate(-100%,-50%);
}
  &::after{
    left: auto;
    right: -1rem;
    transform: translate(100%,-50%);
}

}



