<header class="bg-[#2c3e50] relative">
  <div
    class="container mx-auto px-5 py-3 text-white flex justify-between items-center"
  >
    <div class="logo uppercase">start framework</div>
    <nav
      class="bg-[#2c3e50] absolute top-full right-0 w-full md:static md:w-auto"
    >
      <ul
        class="{{
          toggleMenuProperty ? 'flex container mx-auto pb-2' : 'hidden md:flex'
        }} flex flex-col md:items-center md:flex-row md:gap-4"
        #navMenu
      >
        <li class="px-5 py-3  ">
          <a href=""> about </a>
        </li>
        <li class="px-5 py-3  ">
          <a href=""> portfolio </a>
        </li>
        <li class="px-5 py-3  ">
          <a href=""> contact </a>
        </li>
      </ul>
    </nav>
    <button class="block md:hidden py-3" (click)="toggleMenu()">
      <svg
        class="h-6 w-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
</header>
